@model AlbumViewModel;
@inject SignInManager<ApplicationUser> _signInManager;

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
        @if(_signInManager.IsSignedIn(User))
        {                       
            <div class="row"> 
                <div class="col-lg-10 rowcenter">
                    <form enctype="multipart/form-data" method="post" asp-controller="Home" asp-action="uploadphoto" >
                        <div class="input-group">
                            <div class="custom-file">
                                <input accept=".jpg,.jpeg,.gif,.png" asp-for="Photo" class="form-control custom-file-input"/>
                                <label class="custom-file-label" asp-for="Photo">Upload Photo</label>
                            </div>
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">Add Photo</button>
                        </div>
                        @section Scripts {
                            <script>
                                $(document).ready(function (){
                                $('.custom-file-input').on("change", function () {
                                var filename = $(this).val().split("\\").pop();
                                $(this).next('.custom-file-label').html(filename);
                            })});
                            </script>
                        }
                    </form>
                </div> 
            </div> 
            <div class="row top20 justify-content-center"> 
                @foreach (var photo in Model.Photos)
                {
                    <div class="col-lg-4 col-sm-12 text-center">
                        <a href="images/@photo.PhotoName" class="thumbnail">
                            <img class="img-thumbnail img-responsive center-block align-center" src="thumbnails/@photo.PhotoName" />
                            <p>@photo.Description</p>
                        </a>
                    </div>
                }
            </div>
        }
        else
        {
            <div class="row justify-content-center align-items-center">
              <h4>You are not currently logged in. Login or register!</h4>    
            </div>
            <div class="row justify-content-center align-items-center">
               <a class="btn btn-primary button-margin" asp-area="" asp-controller="auth" asp-action="register">Register</a>
               <a class="btn btn-primary button-margin" asp-area="" asp-controller="auth" asp-action="login">Login</a>
            </div>
        }
</div>